.App {
  text-align: center;
  font-family: Helvetica;
}

.navbar {
  font-family: "Trebuchet MS", Helvetica;
  color: white;
  background-color: rgba(49, 72, 82, 1);
  text-align: right;
  padding: 4px
}

.navlink {
  padding: 5px;
  color: white;
  text-decoration: none;
}

.title {
  color: rgba(30, 26, 45, 1);
  font-family: 'Bookman Old Style', Arial;
  font-size: x-large;
  padding: 1px
}

.show-beer {
  /*text-align: left;*/
  clear: both;
  padding: 20px;
  color: rgba(49, 72, 82, 1)
}

.beer-basic {
  /*color: rgba(188, 115, 98, 1)*/
}

img {
  /*float: left;*/
  width: 180px;
  height: auto;
  padding-right: 15px
}
