.App {
  text-align: center;
}

.navbar {
  font-family: "Trebuchet MS", Helvetica;
  color: white;
  background-color: rgba(79, 148, 47, 1);
  text-align: right;
  padding: 4px
}

.title {
  color: rgba(79, 148, 47, 1);
  font-family: Impact, Arial;
  font-size: x-large;
  padding: 1px
}

.show-beer {
  text-align: left;
  clear: both;
  padding: 20px;
}

.beer-name {
  /*text-align: center;*/
}

img {
  float: left;
  width: 180px;
  height: auto;
  padding-right: 15px
}
